<!DOCTYPE html>
<!--
Icon resources : http://www.getuikit.net/docs/icon.html
-->
<html>
<head>
    <meta charset="utf-8">
    {% block meta %}<!-- block meta -->{% endblock %}
    <title>{% block title %}?{% endblock %}</title>
    <link rel="stylesheet" href="../static/css/uikit.css">
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/uikit.js"></script>
    {% block beforehead %}<!-- before head -->{% endblock %}
</head>
<body>
    <nav class="uk-navbar">
        <div class="uk-navbar-left">
            <a href="home.html" class="uk-navbar-brand">Ddayzzz的博客</a>
            <!--首页导航栏定义-->
            <ul class="uk-navbar-nav">
                <li><a href="#"><i class="uk-icon-home"></i>首页</a></li>
                <li><a target="_blank" href="#"><i class="uk-icon-user"></i>CSDN博客</a></li>
                <li><a target="_blank" href="#"><i class="uk-icon-github"></i>Github</a></li>
                <li><a target="_blank" href="#"><i class="uk-icon-user"></i>dalao's BBS</a></li>
                <li><a target="_blank" href="#"><i class="uk-icon-info"></i>关于</a></li>
            </ul>
            <!--用户登录的管理-->
            <div class="uk-navbar-flip">
                <ul class="uk-navbar-nav">
                {% if user %}
                <li class="uk-parent" data-uk-dropdown>
                    <a href="#0"><i class="uk-icon-user"></i>{{user.name}}</a>
                    <div class="uk-nav uk-nav-dropdown-navbar">
                        <ul class="uk-nav-navbar">
                            <li><a href="/signout"><i class="uk-icon-sign-out"></i>注销登录</a></li>
                        </ul>
                    </div>
                </li>
                {% else %}
                <li><a href="/signin"><i class="uk-icon-sign-in"></i> 登陆</a></li>
                {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <!--其他的内容-->
    <div class="uk-container uk-container-center">
        <div class="uk-grid">
            <!--content-->
            {% block content %}
            {% endblock %}
            <!--end content-->
        </div>
    </div>
</body>
</html>